
@media screen and(max-width: 505px){
    header{
        z-index: 8;
    }
    footer{
        .footer__container{
            .footer__top{
                z-index: 9;
            }
            .footer__title{
                div{
                    font-size: 34px;
                }
            }
        }
    }
    .title{
        top: 25%;
        div{
            font-size: 12px;
        }
        .mask{
            max-width: 370px;
            max-height: 30px;
            width: 100%;
            height: 100%;
            .mask__slider{
                animation: fadeIn_mobile 5s linear infinite alternate 1.3s;
                span{
                    font-size: 30px;
                }
            }
        }
    }
    article{
        margin-top: 44vh;
        .section{
            background-color: white;
            height: fit-content;
            .about{
                display: flex;
                justify-content: center;
                .about__description{
                    font-size: 16px;
                    height: fit-content;
                    padding: 30px 0;
                    strong{
                        font-size: 17px;
                        font-weight: bolder;
                    }
                    div:last-child{
                        width: 80%;
                    }
                }
                .about__video{
                    display: none;
                }
            }
            .skills{
                padding: 50px 30px;
                .skills__title{
                    font-size: 50px;
                }
                .skills__description{
                    .partials{
                        div{
                            font-size: 20px;
                        }
                        .partials__icons{
                            img{
                                width: 90px
                            }
                        }
                    }
                }
            }
            .projects{
                padding: 50px 0;
                .projects__title{
                    font-size: 50px;
                }
                .projects__items{
                    .item{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        &:nth-child(2),
                        &:nth-child(4){
                            flex-direction: column-reverse;
                        }
                        a{
                            border-radius: 10px;
                            img{
                                border-radius: 10px;
                            }
                        }
                        .description{
                            width: 100%;
                            padding: 50px 0;
                            .description__item{
                                width: 80%;
                                padding: 0;
                                font-size: 16px;
                            }
                        }
                    }
                    .instaClone,
                    .momentumClone,
                    .bethelHomepage{
                        a{
                            img{
                                width: 300px;
                            }
                        }
                    }
                   .catchMind{
                        a{
                            video{
                                width: 300px;
                            }
                        }
                    } 
                }
            }
        }
    }
}



@keyframes fadeIn_mobile {
    0%{
        margin-top: 0;
        opacity: 0;
    }
    25%{
        margin-top: 0;
        opacity: 1;
    }
    75%{
        margin-top: -50px;
        opacity: 1;
    }
    100%{
        margin-top: -50px;
        opacity: 0;
    }
}