extends layouts/main.pug

block content
    article
        section.section
            .about
                .about__title
                    div about
                .about__description
                    div 어쩌구 저쩌구어쩌구 저쩌구어쩌구 저쩌구어쩌구
        section.section
            .skills
                .skills__title
                    div skills
                .skills__description
                    img(src="images/icon/html.png")
                    img(src="images/icon/css.png")
                    img(src="images/icon/javascript.png")
                    img(src="images/icon/nodejs.png")
                    img(src="images/icon/pug.png")

                    