header{
    .header__container{
        position: absolute;
        right: 0px;
        top: 0px;
        width: fit-content;
        height: fit-content;
        padding: 12px 6px;
        z-index: 1;       
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.623);
        .container__header-contents{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            li{
                &:not(:last-child){
                    margin-bottom: 25px;
                }
                width: 8px;
                height: 8px;
                background-color: rgb(170, 169, 169);
                border-radius: 50%;
                cursor: pointer;
            }
            li:hover{
                background-color: whitesmoke;
            }
            li.point{
                background-color: whitesmoke;
            }
        }
    }
}