header{
    .header__container{
        max-height: 200px;
        height: 100%;
        z-index: 1;
        position: fixed;
        top: 40%;
        right: 2%;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 20px;
        .container__header-contents{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            li{
                margin-bottom: 20px;
                &.scrollColor{
                    color: rgb(64, 216, 243);
                }
                font-size: 25px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: green;
            }
        }
    }
}

@keyframes scrollEvent {
    0%{
        top: 40%;
    }
    10%{
        top: 35%;
    }
    100%{
        top: 40%;
    }
}

@keyframes scrollEventDefault {
    0% {
        top: 40%;
    }
    10% {
        top: 45%;
    }
    100%{
        top: 40%;
    }
}

@keyframes scrollEventFont {
    from{
        font-size: 25px;
    }
    to{
        font-size: 20px
    }
}

@keyframes scrollDefaultFont {
    from{
        font-size: 20px;
    }
    to{
        font-size: 25px
    }
}