header{
    width: 100%;
    .header__container{
        max-height: 30px;
        height: 100%;
        z-index: 9;
        background-color: rgba(51, 51, 51, 0.5);
        position: fixed;
        top: 0;
        right: 0;
        margin-left: auto;
        width: 280px;
        padding: 30px 50px 20px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 20px;
        .container__header-contents{
            display: flex;
            li{
                &.scrollColor{
                    color: rgb(81, 252, 132);
                }
                font-size: 25px;
                font-family: 'Rajdhani', sans-serif;
                color: white;
                &:not(:last-child){
                    margin-right: 25px;
                }
            }
        }
    }
}

@keyframes scrollEvent {
    0%{
        max-height: 30px;
        width: 280px;
        padding: 30px 50px 20px 50px;
    }
    100%{
        max-height: 10px;
        width: 320px;
        padding: 15px 50px 10px 50px;
    }
}

@keyframes scrollEventDefault {
    from {
        max-height: 10px;
        width: 320px;
        padding: 15px 50px 10px 50px;
    }
    to {
        max-height: 30px;
        width: 280px;
        padding: 30px 50px 20px 50px;
    }
}

@keyframes scrollEventFont {
    from{
        font-size: 25px;
    }
    to{
        font-size: 20px
    }
}

@keyframes scrollDefaultFont {
    from{
        font-size: 20px;
    }
    to{
        font-size: 25px
    }
}