footer#jsFooter
    .footer__container
        .footer__top#jsTopArrow
            img(src="https://ddamjengi1020.github.io/imageHosting/portfolio/icon/top-arrow.png")
        .footer__title
            div CONTACT
        .footer__icon
            a(href="https://github.com/ddamjengi1020?tab=repositories" target="_blank")
                img(src="https://ddamjengi1020.github.io/imageHosting/portfolio/icon/git.png")
        .footer__content
            div silluat11@gmail.com
            