header
    .header__container.header__contents
            ul.header__contents
                li  about
                li  language
                li  skills
                li  project
                li  Git