header
    .header__container.container#jsHeaderContainer
            ul.container__header-contents
                li  about
                li  skills
                li  project
                li  Git