header#jsHeaderContainer
    .header__container.container#STATICMENU
            ul.container__header-contents#jsHeaderContents
                li  
                li  
                li  
                li  