header
    .header__container.container#jsHeaderContainer
            ul.container__header-contents#jsHeaderContents
                li  About
                li  Skills
                li  Project
                li  Git